# Jagwinder Singh

## Complete the notebook: JNM05 Workbook
(ver. 10/11/2020)

## Concatenating and Appending dataframes

1) Enter imports:

In [1]:
import pandas as pd

2) Load the data into the dataframes:

In [2]:
df_1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Interest_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df_2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Interest_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df_3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Interest_rate':[2, 3, 2, 2],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])

## Concatenation

3) Write the code that concatenates DataFrame 1 and 2 then prints out the new dataframe:

In [4]:
concat = pd.concat([df_1,df_2])
print(concat)

      HPI  Interest_rate  US_GDP_Thousands
2001   80              2                50
2002   85              3                55
2003   88              2                65
2004   85              2                55
2005   80              2                50
2006   85              3                55
2007   88              2                65
2008   85              2                55

4) Write the code that concatenates all three frames and prints the new dataframe

In [6]:
concat = pd.concat([df_1,df_2,df_3],sort=True)
print(concat)

      HPI  Interest_rate  Low_tier_HPI  US_GDP_Thousands
2001   80              2           NaN              50.0
2002   85              3           NaN              55.0
2003   88              2           NaN              65.0
2004   85              2           NaN              55.0
2005   80              2           NaN              50.0
2006   85              3           NaN              55.0
2007   88              2           NaN              65.0
2008   85              2           NaN              55.0
2001   80              2          50.0               NaN
2002   85              3          52.0               NaN
2003   88              2          50.0               NaN
2004   85              2          53.0               NaN

## Appending

5) Write the code that appends DataFrame 1 and 2 into a new DataFrame (df_4) then display the new DataFrame (df_4)

In [7]:
df_4 = df_1.append(df_2)
print(df_4)

      HPI  Interest_rate  US_GDP_Thousands
2001   80              2                50
2002   85              3                55
2003   88              2                65
2004   85              2                55
2005   80              2                50
2006   85              3                55
2007   88              2                65
2008   85              2                55

6) Write the code that appends DataFrame 1 and 3 into a new DataFrame then Display the new DataFrame

In [8]:
df_4 = df_1.append(df_3,sort=True)
print(df_4)

      HPI  Interest_rate  Low_tier_HPI  US_GDP_Thousands
2001   80              2           NaN              50.0
2002   85              3           NaN              55.0
2003   88              2           NaN              65.0
2004   85              2           NaN              55.0
2001   80              2          50.0               NaN
2002   85              3          52.0               NaN
2003   88              2          50.0               NaN
2004   85              2          53.0               NaN

7) Write the code that creates a new series of 88, 2, 55

In [9]:
s = pd.Series([88,2,55])

8) Append the newly created series with DataFrame 1 and place it into a new DataFrames. Display the new DataFrame.

In [10]:
df_4 = df_1.append(s, ignore_index = True)
print(df_4)

    HPI  Interest_rate  US_GDP_Thousands     0    1     2
0  80.0            2.0              50.0   NaN  NaN   NaN
1  85.0            3.0              55.0   NaN  NaN   NaN
2  88.0            2.0              65.0   NaN  NaN   NaN
3  85.0            2.0              55.0   NaN  NaN   NaN
4   NaN            NaN               NaN  88.0  2.0  55.0

9) Append the newly created series with DataFrame 1 while matching the series data to the correct data column and place it into a new DataFrames. Display the new DataFrame.

In [11]:
s = pd.Series([88,2,55], index=['HPI','Interest_rate','US_GDP_Thousands'])
df_4 = df_1.append(s, ignore_index=True)
print(df_4)

   HPI  Interest_rate  US_GDP_Thousands
0   80              2                50
1   85              3                55
2   88              2                65
3   85              2                55
4   88              2                55